*{
margin:0;
padding:0;
box-sizing:border-box;
}

.navbar{

position:fixed;

top:0;
left:0;

width:100%;

display:flex;

justify-content:space-between;
align-items:center;

padding:25px 8%;

z-index:999;

transition:.4s;

}

.navbar.scrolled{

background:rgba(8,8,8,.92);

backdrop-filter:blur(12px);

padding:18px 8%;

}

.logo img{

height:55px;

}

.nav-links{

display:flex;

gap:45px;

}

.nav-links a{

font-size:15px;

font-weight:500;

transition:.3s;

position:relative;

}

.nav-links a::after{

content:"";

position:absolute;

bottom:-8px;
left:0;

width:0;
height:2px;

background:#d6a24c;

transition:.3s;

}

.nav-links a:hover::after{

width:100%;

}

.btn-outline{

padding:13px 28px;

border:1px solid #d6a24c;

border-radius:50px;

transition:.4s;

}

.btn-outline:hover{

background:#d6a24c;

color:black;

}

.hero{

    position:relative;

    height:100vh;

    background:red;
    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;

}

.overlay{

    position:absolute;
    inset:0;

    background:linear-gradient(
        to right,
        rgba(0,0,0,.78),
        rgba(0,0,0,.25)
    );

}

.hero-content{

    position:relative;

    z-index:5;

    width:90%;
    max-width:1200px;

    margin:auto;

}

.hero-subtitle{

    color:#d4af37;

    letter-spacing:5px;

    font-size:14px;

}

.hero h1{

    margin-top:20px;

    font-size:72px;

    line-height:1.1;

    font-family:Poppins,sans-serif;

}

.hero p{

    margin-top:25px;

    width:600px;

    max-width:100%;

    font-size:19px;

    color:#ddd;

    line-height:1.8;

}

}

html{
scroll-behavior:smooth;
}

body{

font-family:'Inter',sans-serif;
background:#0b0b0b;
color:white;
overflow-x:hidden;

}

a{
text-decoration:none;
color:white;
}

li{
list-style:none;
}
